In [1]:
# from sklearn.
import pandas as pd

df = pd.read_csv('goog.csv')
df.head()

         Date    Open    High     Low   Close      Volume
0  10/07/2022  100.65  101.42   99.21   99.57  24,249,910
1  10/06/2022  101.50  103.73  101.50  102.24  17,156,240
2  10/05/2022  100.69  102.74   99.74  102.22  18,475,520
3  10/04/2022  101.04  102.72  101.04  102.41  22,580,930
4  10/03/2022   97.22   99.97   97.02   99.30  24,840,029

In [2]:
df.describe()

             Open        High         Low       Close
count  253.000000  253.000000  253.000000  253.000000
mean   127.027154  128.603715  125.385020  126.928933
std     15.388440   15.192890   15.279104   15.230415
min     97.220000   99.300000   96.030000   96.150000
25%    113.600000  115.720000  112.250000  114.040000
50%    129.990000  131.250000  127.110000  128.370000
75%    140.850000  142.610000  139.700000  141.410000
max    151.860000  152.100000  149.890000  150.710000

In [7]:
import seaborn as sns

sns.lineplot(data=df, x='Date')

ModuleNotFoundError: No module named 'seaborn'